APP_NAME='Zaakvolgsysteem'
APP_ENV=local
APP_KEY=
APP_DEBUG=true
DEBUGBAR_ENABLED=true

DB_DATABASE=laravel
DB_HOST=pgsql
DB_USERNAME=sail
DB_PASSWORD=password
DB_CONNECTION=pgsql

OUTBOX_SMTP_FROM=

VITE_APP_NAME="${APP_NAME}"
VIRUSSCANNER_SOCKET=tcp://clamav:3310
