APP_NAME='Zaakvolgsysteem'
APP_ENV=robot
APP_KEY=
APP_DEBUG=false
APP_SERVICE=laravel.robot

DB_DATABASE=laravel
DB_HOST=pgsql-robot
DB_USERNAME=sail
DB_PASSWORD=password

VITE_APP_NAME="${APP_NAME}"
VIRUSSCANNER_SOCKET=tcp://clamav:3310

# For the test framework
BASE_URL=http://laravel.robot
MAILPIT_API_BASE_URL=http://zvs-web-mailpit-1:8025
BROWSER_TIMEOUT=5s

# dev env vars:
OUTBOX_SMTP_FROM=foo@bar.nl    # the local env uses mailpit, any from email adres will do
ONE_TIME_PASSWORD_DRIVER=fake  # the application will accept any OTP when prompted
QUEUE_CONNECTION=sync          # jobs will by executed synchronously, no need to listen to any queues
TELESCOPE_ENABLED=false
DEBUGBAR_ENABLED=false
RATE_LIMIT_MAX_ATTEMPTS=10
RATE_LIMIT_DECAY_SECONDS=1
VIRUSSCANNER_DEFAULT=fake
SESSION_DRIVER=database
TRUSTED_HOSTS=laravel.robot,localhost
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

# Use the local storage instead of MinIO
# UPLOADS_DRIVER=local
# EXPORTS_DRIVER=local

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=eu-central-1
MINIO_BUCKET=zaakvolgsysteem

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=eu-central-1
AWS_BUCKET=zaakvolgsysteem
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true
