parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\+" between mixed and 1 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Console/Commands/MigrateCommand.php

		-
			message: '#^Method App\\Console\\Commands\\MigrateCommand\:\:getVersionedFiles\(\) should return array\<string, array\<int, string\>\> but returns array\<array\<int, string\>\>\.$#'
			identifier: return.type
			count: 1
			path: app/Console/Commands/MigrateCommand.php

		-
			message: '#^Parameter \#1 \$files of method App\\Console\\Commands\\MigrateCommand\:\:getVersionedFiles\(\) expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/MigrateCommand.php

		-
			message: '#^Parameter \#1 \$query of static method Illuminate\\Database\\Connection\:\:unprepared\(\) expects literal\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/MigrateCommand.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Binary operation "\+\=" between \(float\|int\) and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 4
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Binary operation "\+\=" between 0 and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Call to an undefined method App\\Collections\\PetitionCollection\|App\\Models\\Petition\:\:customPetitionProperties\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Call to an undefined method App\\Collections\\PetitionCollection\|App\\Models\\Petition\:\:policyDepartments\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset ''contact_petitions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset ''contacts'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset ''petition_assignments'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset ''petition_custom_dates'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset ''petitions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot access offset int\|string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 7
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Method App\\Console\\Commands\\Petition\\ImportAppealsCommand\:\:handleRollback\(\) throws checked exception Psr\\SimpleCache\\InvalidArgumentException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#1 \$array of function array_filter expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#1 \$array of function array_slice expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#1 \$date of method App\\Console\\Commands\\Petition\\ImportAppealsCommand\:\:convertDateFormat\(\) expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#1 \$import of static method Maatwebsite\\Excel\\Facades\\Excel\:\:toArray\(\) expects object, array given\.$#'
			identifier: argument.type
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#2 \$values of function array_combine expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 13
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Property App\\Console\\Commands\\Petition\\ImportAppealsCommand\:\:\$importedIds \(array\<string, array\<int\>\>\) does not accept array\<string, array\<int\|Ramsey\\Uuid\\UuidInterface\>\>\.$#'
			identifier: assign.propertyType
			count: 4
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Property App\\Models\\Petition\:\:\$petition_type_id \(Ramsey\\Uuid\\UuidInterface\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Console/Commands/Petition/ImportAppealsCommand.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Petition\>\:\:notArchived\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Exports/PetitionAbstractExcelExport.php

		-
			message: '#^Cannot call method when\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Exports/PetitionAbstractExcelExport.php

		-
			message: '#^Method App\\Exports\\PetitionAbstractExcelExport\:\:query\(\) should return Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Petition\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Exports/PetitionAbstractExcelExport.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<App\\Models\\Petition\>\:\:getEloquentBuilder\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Exports/PetitionInternalExcelExportStatusHistorySheet.php

		-
			message: '#^Cannot call method notArchived\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Exports/PetitionInternalExcelExportStatusHistorySheet.php

		-
			message: '#^Cannot call method pluck\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Exports/PetitionInternalExcelExportStatusHistorySheet.php

		-
			message: '#^Parameter \#1 \$array of function array_values expects array\<T\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Petition/PetitionCustomCostsController.php

		-
			message: '#^Method App\\Http\\Middleware\\EmailAddressVerified\:\:handle\(\) should return Symfony\\Component\\HttpFoundation\\Response but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Middleware/EmailAddressVerified.php

		-
			message: '#^Method App\\Http\\Middleware\\OneTimePasswordAuthenticated\:\:handle\(\) should return Symfony\\Component\\HttpFoundation\\Response but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Middleware/OneTimePasswordAuthenticated.php

		-
			message: '#^Method App\\Http\\Middleware\\OneTimePasswordNotEnabled\:\:handle\(\) should return Symfony\\Component\\HttpFoundation\\Response but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Middleware/OneTimePasswordNotEnabled.php

		-
			message: '#^Method App\\Http\\Requests\\FormHelper\:\:oldArray\(\) should return array\<string, mixed\>\|null but returns array\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/FormHelper.php

		-
			message: '#^Cannot access offset ''date'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Http/Requests/Petition/PetitionCustomDatesUpdateRequest.php

		-
			message: '#^Cannot access offset ''date_label'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Http/Requests/Petition/PetitionCustomDatesUpdateRequest.php

		-
			message: '#^Parameter \#1 \$value of static method App\\Enums\\CustomDateLabel\:\:from\(\) expects int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Requests/Petition/PetitionCustomDatesUpdateRequest.php

		-
			message: '#^Parameter \#2 \$time of static method App\\ValueObjects\\CalendarDate\:\:createFromFormat\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Requests/Petition/PetitionCustomDatesUpdateRequest.php

		-
			message: '#^Parameter \#1 \$mimetypes of static method Illuminate\\Validation\\Rules\\File\:\:types\(\) expects array\<int, string\>\|string, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Requests/Timelineable/TimelineableNoteCreateRequest.php

		-
			message: '#^PHPDoc tag @method for method App\\Models\\EloquentModel\:\:newModelQuery\(\) return type contains generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/EloquentModel.php

		-
			message: '#^PHPDoc tag @method for method App\\Models\\EloquentModel\:\:query\(\) return type contains generic class Illuminate\\Database\\Eloquent\\Builder but does not specify its types\: TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/EloquentModel.php

		-
			message: '#^Access to an undefined property Illuminate\\Notifications\\DatabaseNotification\:\:\$notifiable_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Policies/DatabaseNotificationPolicy.php

		-
			message: '#^Parameter \#2 \$macro of static method Illuminate\\Support\\Str\:\:macro\(\) expects \(callable\(\)\: mixed\)\|object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#2 \$macro of static method Illuminate\\Support\\Stringable\:\:macro\(\) expects \(callable\(\)\: mixed\)\|object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Trying to invoke mixed but it''s not a callable\.$#'
			identifier: callable.nonCallable
			count: 2
			path: app/Providers/AppServiceProvider.php

		-
			message: '''
				#^Call to deprecated method hasPermissionAsCurrentUserAndActiveDepartment\(\) of class App\\Services\\Authorisation\\UserPermissionService\:
				Has to be moved elsewhere, as it is not a user permission service method\.$#
			'''
			identifier: method.deprecated
			count: 1
			path: app/Services/Authentication/AuthenticationRedirectResponseHelper.php

		-
			message: '''
				#^Call to deprecated method setLabel\(\) of class OTPHP\\OTP\:
				Deprecated since v11\.4, use \{@see self\:\:withLabel\(\)\} instead$#
			'''
			identifier: method.deprecated
			count: 1
			path: app/Services/Authentication/OneTimePassword/TimedOneTimePassword.php

		-
			message: '#^Access to an undefined property Illuminate\\Notifications\\DatabaseNotification\:\:\$type\.$#'
			identifier: property.notFound
			count: 2
			path: app/View/Components/NotificationContent.php

		-
			message: '#^Cannot access offset ''date'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/View/Components/TimelineItem.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/factories/AttachmentFactory.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: database/factories/PetitionFactory.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: database/factories/PetitionFactory.php
