.progress-container {
  display: none;
  margin-top: 5px;
  width: 200px;
  border: 1px solid var(--oc-gray-4);
  border-radius: 99em;
  overflow: hidden;
}
.progress-bar {
  width: 200px;
}
.progress-bar > div {
  background-color: white;
  width: 0%;
  height: 1rem;
}
.strength-text-container {
  width: fit-content;
  display: none;
  line-height: 1.3;

  &.visible {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.help-text {
  font-style: italic;
  color: var(--oc-gray-7);
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.strength-text {
  font-weight: 700;
  &.weak {
    color: var(--oc-red-9);
  }
  &.moderate {
    color: var(--oc-orange-9);
  }
  &.strong {
    color: var(--oc-green-9);
  }
  &.very-strong {
    color: var(--oc-green-9);
  }
}

.progress-bar {
  &.weak {
    background-color: var(--oc-red-9);
  }
  &.moderate {
    background-color: var(--oc-orange-9);
  }
  &.strong {
    background-color: var(--oc-green-9);
  }
  &.very-strong {
    background-color: var(--oc-green-9);
  }
}
