@use "./variables" as *;
body {
  font-family: $font-family-base;
  background-color: $body-bg;
  color: var(--oc-black);
  word-break: break-all;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.125rem;
}

h3,
.h3 {
  font-size: 1rem;
}

::placeholder {
  color: var(--oc-gray-6);
}

ul,
ol,
dl {
  margin-block: 0;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

a:focus-visible {
  outline: 2px solid var(--oc-blue-8);
  outline-offset: 4px;
  border-radius: 4px;
}
