.grid {
  display: grid;
  grid-template-columns: 1fr 18.5rem;
  gap: 2rem;
}

.petition-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  .department-selector__tag {
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
  }
}
