.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;

  h1 {
    margin-right: auto;
  }

  .button {
    align-self: unset;
  }
}
