:root {
  --button-cta-border-width: 0;
  --button-cta-focus-outline-width: 2px;
  --button-cta-focus-outline-offset: 2px;
  --button-cta-focus-outline-style: solid;
  --button-cta-focus-outline-color: var(--button-base-text-color);
}
