/* Header navigation link visited */

:root {
  --header-navigation-link-visited-text-color: #fff;
  --header-navigation-link-visited-hover-text-color: #1971c2;
  --header-navigation-link-visited-hover-background-color: transparent;
}
